body{
    padding: 0;
    margin: 0;
    background-image: url("../img/back_gradient.jpeg");
    background-size: cover;
}
li{

}
#headerName{
    text-align: center;
    font-size: 4rem;
}
#aboutMe{
    float: right;
    width: 50%;
}
#sideInfo{
    float: left;
    width: 40%;
}
.topNav {
    list-style: none;
    display: flex;
}
.nav {
    margin: .5em;
    font-size: 1.3em;
    color: #ffffff;
    text-align: center;
    flex-direction: column;
    border: 1px solid grey;
    border-radius: 48%;
    height: 50px;
    width: 120px;


}