
body{
    padding: 0;
    margin: 0;
    background-color: #313639;
}
#headerName{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 4rem;
    margin-top: 1.5em;
    margin-bottom: 1em;
}
#bio{
    float: right;
    width: 50%;
}
.container{
    margin: 0;
    padding: 0;
}