body{
    padding: 0;
    margin: 0;
    background-image: url("../img/textured.jpg");
}
/*section{*/
/*    background-color: ivory;*/
/*    position: relative;*/
/*    box-sizing: content-box;*/
/*    padding: 1rem;*/
/*    border: 3px solid lightgray;*/
/*    border-radius: 6px;*/
/*}*/
/*#aboutMe{*/
/*    width: 60%;*/
/*    float: right;*/
/*}*/
/*#sideInfo{*/
/*    width: 15%;*/
/*    text-align: left;*/
/*}*/
.topNav {
    list-style: none;
    display: flex;
}
.nav {
    margin: .5em;
    font-size: 1.3em;
    color: black;
    text-align: center;
    flex-direction: column;
    border: 1px solid grey;
    border-radius: 48%;
    height: 50px;
    width: 120px;


}